<!-- survey.html -->
<form method="POST">
    <h4>Introvert vs. Extrovert</h4>
    <input type="range" name="introvert" min="1" max="5" step="1" value="3">

    <h4>Analytical vs. Creative</h4>
    <input type="range" name="analytical" min="1" max="5" step="1" value="3">

    <h4>Loyal vs. Fickle</h4>
    <input type="range" name="loyal" min="1" max="5" step="1" value="3">

    <h4>Passive vs. Active</h4>
    <input type="range" name="passive" min="1" max="5" step="1" value="3">

    <button type="submit">Submit</button>
</form>
